.twotone-icon {
  flex: 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.twotone-icon .twotone-icon--hoverable {
  border-radius: 49%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
}
.twotone-icon:hover .twotone-icon--hoverable {
  background-color: #eeeef1;
}
.twotone-icon:hover .twotone-icon--hoverable svg {
  fill: #666666;
}
.twotone-icon svg {
  fill: #909191;
}
.twotone-icon.yellow svg {
  fill: #f4b400;
}
.twotone-icon.blue svg {
  fill: #4285f4;
}
