@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.icon-twotone {
  white-space: nowrap;
}

.icon-twotone svg {
  fill: #909191;
}
.icon-twotone.yellow svg {
  fill: #f4b400;
}
.icon-twotone.blue svg {
  fill: #4285f4;
}

.icon-twotone.hover {
  border-radius: 49%;
  transition: all .2s;
  height: 36px;
  width: 36px;
  margin: -6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-twotone.hover:hover {
  background-color: #f6f7f8;
}
